<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163004948659-0t74k9ms88sfe80utvr06vebugcq2p9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163004948659-0t74k9ms88sfe80utvr06vebugcq2p9r</string>
	<key>API_KEY</key>
	<string>AIzaSyAGbopkuc-nCEmsX3_IeNIJA4ch7uY8Hv4</string>
	<key>GCM_SENDER_ID</key>
	<string>163004948659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christibbs.Quarantine</string>
	<key>PROJECT_ID</key>
	<string>quarantine-c3184</string>
	<key>STORAGE_BUCKET</key>
	<string>quarantine-c3184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163004948659:ios:9a9fbb7243f4283fcd90c6</string>
	<key>DATABASE_URL</key>
	<string>https://quarantine-c3184.firebaseio.com</string>
</dict>
</plist>